body{
    background-color: #52628c !important;
}

.pageButtons{
    background-color: #52628c;
    color: white;
    width: 100px;
    height: 50px;
}

/* img{
    max-width: 100%;
    border-radius: 20px;
} */

.headerText{
    /* padding: 10px; */
    font-size: 30;
    color: white;
}

.text-container{
    padding: 10px;
    background: white;
    border-radius: 10px;
    font-size: 15;
}

.contactlinks{
    color: white;
    font-size: 20;
    float: none;
    margin: 0 auto;
    text-align: center;
}

.dark-container{
    background-color: #222;
    /* padding: 25px 0px; */
    border-radius: 10px;
    padding: 25px 25px;
}

.output-scroll{
    overflow-y: scroll;
    height: 220px;
    background-color: #222;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
}