@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "~bootstrap/scss/bootstrap.scss";

/* body,html{height:100%;} */
body{margin:0;font-family:Roboto,"Helvetica Neue",sans-serif}
button.active:focus,button:active:focus,button:focus{outline:0!important;outline-style:none!important}