.text-container{padding:10px;border-radius:10px;font-size:15}
#me{padding:10px}
#subtitle,#title{width:100%;text-align:center}
#title{font-size:xx-large}
#subtitle{font-size:large}
#linkedin{padding-left: 10px;}
#github{padding-left: 20px;}